$brandColor: #3575D3;
$brandColorActive: #1f5db7;

$bodyBgColor: white;
$bodyFontColor: #171717;

$footerBgColor: #3575D3;
$footerFontColor: white;

$wrapperBgColor: #ffffff;


//TITLES
$titleFontColor: #003bff;
$titleFontColorActive: #003bff;

//LINKS
$linkFontColor: black;
$linkFontColorActive: #272727;

//BUTTONS
$buttonFontColor: #ffffff;
$buttonFontColorActive: #ffffff;
$buttonBgColor: #8AD331;
$buttonBgColorActive: #8be61c;

//MENU
$menuBgColor: #3575D3;
$menuBgColorActive: #1f5db7;
$menuFontColor: #ffffff;
$menuFontColorActive: #dbdbdb;




$light: #ffffff;
$first:#ff4242;
$second:#2f5293;
$third:#3ca040;
$dark:#264174;


$white: #ffffff;
$yellow: #ffffb6;
$orange: #ffb100;
$red: #ff0000;
$brown: #572b00;
$blue: #0058ff;
$lightblue: #53b0ff;
$green: #00ff0a;
$lightgreen: #8aff75;
$gray: #898989;
$lightgray: #d0d0d0;
$black: #000000;
